html{
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    padding-top: 70px;
    background-color: #f2f2f2;
    color: #333;
  }
  nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 7px 20px;
  }
  
  nav h2 {
    font-size: 24px;
    text-decoration: none;

  }
  
  nav ul {
    list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.5s;
}
nav ul li a:hover{
  color: #fa5;
}

nav ul li::after{
  content:'';
  width: 0%;
  height: 2px;
  background: #fa5;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after{
  width: 100%;
}

header {
  background: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stywo-1261728.jpg&fm=jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

header p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: #333;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

section {padding: 60px 20px;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
  }
  
  section h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
.follow {
    background-color: #fa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
.backbone{
    background-color: skyblue;
}
.social-media ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.social-media ul a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
}
.social-media ul a:hover{
    color:#333
}
.social-media ul li::after{
  content:'';
  width: 0%;
  height: 2px;
  background: #333;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.social-media ul li:hover::after{
  width: 100%;
}
footer{
  background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}